@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:wght@300;400;500;600;700&family=Bellefair&display=swap");

:root {
  --clr-nuetral-100: hsl(0, 0%, 100%);
  --clr-nuetral-400: hsl(232, 17%, 73%);
  --clr-nuetral-600: hsl(222, 8%, 31%);
  --clr-nuetral-900: hsl(0, 0%, 0%);

  --ff-primary: "Barlow", "sans-serif";
  --ff-secondary: "Barlow Condensed", "serif";
  --ff-accent: "Bellefair", "serif";

  --fw-light: 300;
  --fw-semibold: 600;
  --fw-bold: 700;
}

$font-sizes: (
  200: 0.5rem,
  300: 0.75rem,
  400: 1rem,
  500: 1.125rem,
  600: 1.25rem,
  700: 1.5rem,
  800: 1.75rem,
  900: 2rem,
);

$desktop-breakpoint: 50em;
$mobile-breakpoint: 35em;

/* ==================== */
/* === General Styles === */
/* ==================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, Remove default padding, Reset all font sizes and make sure button, forms, etc inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==================== */
/* === Utilities === */
/* ==================== */

.tabs {
  display: flex;
  gap: 1.5rem;

  input[type="radio"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked + label {
      border-bottom: 3px solid var(--clr-nuetral-100);
      border-spacing: 1rem;
      padding-bottom: 0.5rem;
    }
  }

  & .tab {
    background-color: transparent;
    border: 0;
    color: var(--clr-nuetral-400);
    text-transform: uppercase;
    font-weight: var(--fw-semibold);
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid var(--clr-nuetral-100);
      border-spacing: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}

.title {
  font-family: var(--ff-secondary);
  color: var(--clr-nuetral-100);
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-transform: uppercase;

  span {
    color: var(--clr-nuetral-600);
    margin-right: 1rem;
  }
}

/* ==================== */
/* === General Styles === */
/* ==================== */

body {
  font-family: var(--ff-primary);
  background-repeat: no-repeat;
  background-size: cover;
}
body.home {
  background-image: url("/assets/home/background-home-mobile.jpg");
}
body.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
}
body.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
}
body.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
}
@media (min-width: $desktop-breakpoint) {
  body.home {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  body.destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
  body.crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  body.technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
}

ul {
  list-style: none;
}

/* ==================== */
/* === Nav Styles === */
/* ==================== */

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: clamp(1.5rem, 2vw, 3rem);
  margin-inline: clamp(1rem, 5vw, 3rem);
  position: relative;

  .logo {
    margin-right: clamp(1rem, 5vw, 3rem);
  }
}
@media (min-width: $mobile-breakpoint) {
  .primary-header {
    margin-right: 0;
  }
}
@media (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
  .primary-header {
    margin-top: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .primary-header::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background-color: hsl(0 0% 100% / 0.2);
    order: 1;
    margin-right: -2rem;
    z-index: 20;
  }

  nav {
    order: 2;
  }
}

.primary-nav {
  display: flex;
  background-color: hsl(0 0% 0% / 0.9);
  gap: clamp(1rem, 2vw, 3rem);

  & li a {
    padding-block: 2rem;
    color: var(--clr-nuetral-100);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: var(--fw-light);
    position: relative;
    text-transform: uppercase;

    &.active::after {
      width: 100%;
    }

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--clr-nuetral-100);
      transition: width 0.3s ease-in-out;
    }
    @media (max-width: $mobile-breakpoint) {
      &::after {
        display: none;
      }
    }

    span {
      margin-right: 0.5rem;
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
      span {
        display: none;
      }
    }
  }
}
@media (min-width: 35em) {
  .primary-nav {
    padding: 2rem clamp(2rem, 7vw, 10rem) 2rem clamp(1rem, 7vw, 10rem);
  }
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-nav {
    background-color: hsl(0 0% 30% / 0.1);
    backdrop-filter: blur(0.5rem);
  }
}

.nav-toggle {
  display: none;
  z-index: 100;
  position: absolute;
  border: 0;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: $mobile-breakpoint) {
  .primary-nav {
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 30%;
    padding: 7rem 2rem;
    gap: 2rem;
  }

  .nav-toggle {
    display: flex;
  }

  .primary-nav[data-opened="true"] {
    display: flex;
  }
  .primary-nav[data-opened="false"] {
    display: none;
  }
}

/* ==================== */
/* === Page Styles === */
/* ==================== */

// Home

.home {
  color: var(--clr-nuetral-400);
}

.home__title {
  font-family: var(--ff-secondary);
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-transform: uppercase;
}

.home__title span {
  display: block;
  font-size: clamp(5rem, 10vw, 7rem);
  font-family: var(--ff-accent);
  color: var(--clr-nuetral-100);
}

.home__text {
  line-height: 2;
}

.home__link {
  display: block;
  background-color: var(--clr-nuetral-100);
  border-radius: 100vmax;
  width: 12rem;
  font-size: 1.5rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-decoration: none;
  color: var(--clr-nuetral-900);
  font-family: var(--ff-accent);
  text-transform: uppercase;
  margin-inline: auto;

  &:hover {
    animation: pulse 1.8s infinite;
  }
}

// Destination

.destination {
  color: var(--clr-nuetral-400);

  &__image {
    max-width: 60%;
    margin-top: 2em;
  }

  & .tabs {
    margin-block: 2em;
  }

  &__category {
    font-size: clamp(4rem, 10vw, 6rem);
    font-family: var(--ff-accent);
    text-transform: uppercase;
  }

  &__text {
    line-height: 2;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2em;
    text-transform: uppercase;
    border-top: 1px solid var(--clr-nuetral-400);
    padding-top: 1.5rem;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    h3 {
      font-size: 0.8rem;
    }

    p {
      font-size: 2rem;
      font-family: var(--ff-accent);
    }
  }
}

// Crew

.crew {
  color: var(--clr-nuetral-400);

  &__name {
    font-family: var(--ff-accent);
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: var(--clr-nuetral-100);
    text-transform: uppercase;

    span {
      display: block;
      color: var(--clr-nuetral-400);
      font-size: clamp(0.7rem, 5vw, 1.5rem);
    }
  }

  &__text {
    line-height: 2;
    margin-block: 1em;
  }

  &__image {
    img {
      max-width: 60%;
      margin-inline: auto;
      margin-block: 2em;
    }

    @media (min-width: $mobile-breakpoint) {
      img {
        max-width: 90%;
      }
    }
  }
}

/* ==================== */
/* === Grid Layouts === */
/* ==================== */

div#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.grid-container {
  display: grid;
  row-gap: 10%;
  place-items: center; // center the grid items on mobile and tablet screens
  text-align: center;
  padding-inline: 1rem;
}

.grid-container > * {
  max-width: 50ch;
}

// Base / Home Layout (if we don't have a specific grid container such as grid-container--crew than we use this one)

@media (min-width: $desktop-breakpoint) {
  .grid-container {
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        1fr
      );
    align-content: center;
    text-align: left;
  }

  .grid-container > :first-child {
    grid-column: 2;
  }
  .grid-container > :last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: 7rem;
    align-items: end;
    place-content: end;
  }
}

// Destination Layout

.grid-container--destination {
  row-gap: 0%;
  padding-bottom: 6rem;
}

@media (min-width: $desktop-breakpoint) {
  .grid-container--destination {
    column-gap: 10%;
    place-items: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";

    .destination__title {
      grid-area: title;
    }
    .destination__image {
      grid-area: image;
      place-self: center;
    }
    .tabs {
      grid-area: tabs;
    }
    .destination__text {
      grid-area: content;
    }
  }
}

@media (min-width: $mobile-breakpoint) {
  .grid-container--destination {
    .destination__title {
      margin-right: auto;
    }
  }
}

// Crew Layout
.grid-container--crew {
  row-gap: 0%;
  padding-bottom: 6rem;
}

.crew {
  &__image {
    order: 1;
  }

  &__content {
    order: 3;
  }

  &__dots {
    order: 2;
    margin-block: 1em;
  }
}

@media (min-width: $desktop-breakpoint) {
  .grid-container--crew {
    column-gap: 10%;
    place-items: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". dots image .";

    .crew__title {
      grid-area: title;
    }
    .crew__image {
      grid-area: image;
      place-self: center;
    }
    .crew__content {
      grid-area: content;
      place-self: center;
    }
    .crew__dots {
      grid-area: dots;
    }
  }
}

/* ==================== */
/* === Animations === */
/* ==================== */

@keyframes pulse {
  0% {
    box-shadow: 0px;
  }
  50% {
    box-shadow: 0px 0px 10px 30px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0px;
  }
}

@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
